<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
<h1>Welcome to Your Dashboard</h1>
<div id="currencyRates">Loading currency rates...</div>
<script src="/js/script.js"></script>
</body>
</html>
